#app {
  font-family: 'Montserrat', sans-serif !important;
 }

 html {
  font-size: 62.5%;
  box-sizing: border-box; /* Hack para Box Model */
  scroll-snap-type: y mandatory;
}

.swal2-title-lg {
  font-size: 1.8rem !important;
}

.swal2-popup-lg {
  font-size: 1.5rem !important; /* Esto afecta el contenido general */
}
